body {
    display: ;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

#choose-size {
margin-bottom: 30px;
}

h1 {

}

#order-details {
    flex-grow: 2;
}

form {
    flex-grow: 2;
}

#submit-order {
    flex-grow:1;
}


