body {
    background-image: linear-gradient(#1a1a1a, #2b2b2b);
    color: antiquewhite;
    margin-left:  125px;
    margin-right:  125px;
    margin-top: 35px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    min-height: calc(100vh - 50px);
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

#choose-size {
    margin-bottom: 30px;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 18px;
}

h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    border-style: dotted;
    border-width: 2px;
    border-image: linear-gradient(to right, rgba(234, 190, 137, 0.0), rgb(234, 190, 137), rgba(234, 190, 137, 0.0)) 1;
    padding: 8px;
}

h1:hover {
    cursor: pointer;
}

img {
    max-width: 95px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}


#tagline {
    font-size: 16px;
    font-family: 'Lugrasimo', cursive;
}
 
#order-details {
    flex: 1;
    background-color: antiquewhite;
    color: black;
    border-radius: 10px;
    padding: 20px;
    max-height: 400px; 
    overflow-y: auto;
}

h2 {
    font-size: 28px;
}


form {
    flex: 1;
    border-right: white dotted 2.5px;
    margin-right: 30px;
}

#submit-order {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

#submitBtn {
    font-size: 30px;
}
span {
    font-size: larger;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#deleteBtn {
    background-color: #ff3822;
}

#deleteBtn:hover {
    background-color: #d32f1d;
}

#addToOrderBtn {
    background-color: rgb(0, 164, 0);
}
#addToOrderBtn:hover {
    background-color: green;
}

#submitBtn {
    background-color: dodgerblue;
}

#submitBtn:hover {
    background-color: rgb(24, 113, 202);
}

.hidden {
    display:none;
}

#message {
    font-size: xx-large;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1c1c1c;
    color: grey;
    font-size: 12px;
    padding: 10px;
}




